@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ff0000;
    margin-top: 2px;
    border-radius: 10px;
    
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
* {
    font-family: 'Outfit';
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
::-webkit-scrollbar {
    display: none;
}
@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}
  